body {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  margin: 0;
  background-color: #ACD0E6;
}

input,
label {
  display: block;
}

input {
  margin-bottom: 1rem;
}

/* Header Styles */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 1rem;
  background: transparent;
  height: 25px;
}

#logo {
  display: flex;
}

.logo-image {
  width: 200px;
  height: auto;
  border-radius: 10px;
}

/* Navbar Styles */
nav {
  display: flex; /* Flexbox for the navigation */
}

/* Default nav style for desktop */
nav ul {
  display: flex;
  font-size: large;
  padding: 0;
  margin: 0;
  list-style: none;
  gap: 3rem;
}

nav a {
  display: flex;
  align-items: center;
  height: 40px;
  color: #000;
  text-decoration: none;
  line-height: 40px;
  border-radius: 20px;
  font-weight: 500;
  padding: 6px 15px;
}

nav a:hover,
.active {
  text-decoration: none;
  background-color: #0E6BA8;
  color: beige;
}

/* Profile Container Styles */
.profile-container {
  display: flex;
  align-items: center;
}

.profile-image {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-left: 8px;
  object-fit: cover;
}

/* Hamburger Menu Styles */
.hamburger {
  display: none; /* Hidden by default */
  flex-direction: column;
  cursor: pointer;
  margin-left: auto; /* Align it to the right */
}

.hamburger div {
  background-color: #000; /* Color for hamburger bars */
  height: 4px; /* Thickness of each bar */
  width: 30px; /* Width of each bar */
  margin: 4px 0; /* Space between bars */
}


/* Sidebar Styles */
.sidebar {
  position: fixed;
  top: 0;
  right: -250px; /* Hide off-screen to the right */
  width: 250px;
  height: 100%;
  background-color: #fff; /* Background color for the sidebar */
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5); /* Shadow on the left side */
  transition: right 0.3s ease; /* Transition for sliding effect */
  z-index: 1000; /* Ensure it's above other content */
  padding: 20px;
  display: none; /* Hide sidebar initially */
}

/* Style to show the sidebar */
.sidebar.open {
  right: 0; /* Slide in from the right */
  display: block; /* Show sidebar when open */
}

/* Media Queries */
@media (max-width: 768px) {
  nav {
    display: none; /* Hide nav links on mobile */
  }

  .hamburger {
    display: flex; /* Show hamburger menu */
  }

  /* Sidebar links */
  .sidebar ul {
    padding: 0; /* Remove padding */
    list-style: none; /* Remove bullet points */
  }

  .sidebar a {
    display: block; /* Block display for sidebar links */
    padding: 10px 0; /* Adjust padding for sidebar links */
    color: #000; /* Default text color */
    text-decoration: none; /* No underline */
  }

  .sidebar a:hover {
    background-color: #0E6BA8; /* Hover effect */
    color: beige; /* Hover text color */
  }
}

@media (min-width: 769px) {
  .sidebar {
    display: none; /* Hide sidebar on desktop */
  }
}
