 body {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  margin: 0;
  background-color: rgb(255, 255, 255);
}

input,
label {
  display: block;
}

input {
  margin-bottom: 1rem;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 1rem;
  background: transparent;
}

#logo {
  display: flex; /* Center logo vertically if needed */
}

.logo-image {
  width: 130px; /* Set desired width */
  height: auto; /* Maintain aspect ratio */
  border-radius: 10px;
}

nav ul {
  display: flex;
  font-size: large;
  gap: 3rem;
  padding: 0;
  margin: 0;
  list-style: none;
}

nav a {
  display: block;
  color: #000;
}

.active {
  color: blue;
  font-weight: bold;
  font-style: italic;
}


@media (max-width: 768px) {
  .card {
      flex: 1 1 100%; /* full width on mobile */
  }
}