.btn-modal {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
    margin: 20px auto;
    display: block;
    width: fit-content;
}

.btn-modal:hover {
    background-color: #0056b3;
}


.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}


.modal-content {
    background-color: white;
    border-radius: 10px;
    padding: 30px;
    position: relative;
    max-width: 500px;
    width: 90%;
    z-index: 1001;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.post-form {
    display: flex;
    flex-direction: column;
}

.post-form label {
    margin-top: 10px;
    font-weight: bold;
    color: #333;
}

.post-form input {
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
    width: 100%;
}


.submit-button {
    background-color: #28a745;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

.submit-button:hover {
    background-color: #218838;
}


.error-text {
    color: red;
    margin-top: 10px;
    font-size: 14px;
}


.posts-list {
    width: 75%; 
    margin: 50px auto; 
    padding: 0;
}


.post-item {
    border: 1px solid #ccc;
    padding: 30px; 
    margin-bottom: 20px; 
    border-radius: 8px; 
    background-color: #f0f0f0; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15); 
    transition: transform 0.3s ease; 
}


.post-item:hover {
    transform: scale(1.03); 
}


.post-item h3 {
    margin-top: 0;
    color: #333;
    font-size: 24px; 
}


.post-item p {
    font-size: 18px; 
    color: #444; 
    margin: 15px 0; 
}


.post-item small {
    color: #666;
    font-size: 14px; 
}



